---
import Layout from "@/layouts/layout.astro";
import { Button } from "@repo/ui/components/button";
---

<Layout>
  <h1 class="text-4xl">Web app</h1>
  <p>A text paragraph</p>
  <Button className="w-48">Shadcn button</Button>
</Layout>
